.pageWrapper {
    background-color: white;
    min-height: 100vh;
}

.main {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 6rem;
    background-image: url('../../public/homepageBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media (max-width: 452px) {
        padding: 80px 16px;
    }
}

.hero {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-left: 2rem;
    gap: 80px;
    // background: linear-gradient(0deg, #FFF600 0%, rgba(255, 255, 255, 0.00) 100%);
    width: 100vw;
    height: 100vh;

    @media (max-width: 452px) {
        padding-left: 16px;
    }

    @media (max-width: 321px) {
        padding-bottom: 16px;
    }
}

.heroLeft {
    width: 50%;

    h1 {
        margin-top: 64px;
        margin-bottom: 24px;
        font-size: 32px;
        color: #000;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 24px;
    }

    p {
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 24px;
        line-height: 140%;
        font-weight: 500;
    }

    @media (max-width: 452px) {
        width: 95%;

        h1 {
            margin-left: 0;
        }

        p {
            margin-left: 0;
        }
    }
}

.actionBtns {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 32px;

    @media (max-width: 321px) {
        flex-direction: column;
        width: 80%;
        gap: 16px;
    }
}

.actionBtnPrimary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: #FFF600;
    border-radius: 8px;
    border: 1px black solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    transition: all 0.5s ease;
    cursor: pointer;
    font-weight: 500;

    &:hover {
        background: url("../../public/homepageBg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
}

.actionBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: white;
    border-radius: 8px;
    border: 1px black solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    transition: all 0.5s ease-out;
    cursor: pointer;
    font-weight: 500;

    &:hover {
        background: url("../../public/homepageBg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
}

.saidiaText {
    width: 400px;

    @media (max-width: 452px) {
        width: 200px;
    }

}

.kayaFullBody {
    height: 640px;

    @media (max-width: 452px) {
        opacity: 0.2;       
    }
}

.section {
    padding: 6rem;
    // background: linear-gradient(180deg, #FFF600 0%, #ffffff00 100%);

    @media (max-width: 452px) {
        padding: 32px 16px
    }
}

.sectionHeader {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;

    h2 {
        color: #000;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 32px;
    }

    p {
        color: #222222;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: 500;
    }

    @media (max-width: 452px) {
        flex-direction: column;
        gap: 8px;
    }
}

.categoriesContainer {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 440px 440px 440px;
    column-gap: 24px;
    width: 100%;
    row-gap: 24px;
    justify-content: center;

    @media (max-width: 1441px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.categoryContainer {
    background-color: #53CD9C;
    border: #000 1px solid;
    min-width: 320px;
    width: 400px;
    height: 400px;
    max-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px 16px;
    border-radius: 8px;
    transition: all 0.5s ease;

    p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: #FFF;
        font-weight: 400;
        line-height: 148%;
    }

    &:hover {
        box-shadow: 16px 16px 0px 0px #000;
        border-color: #FFF;

        h3 {
            color: #FFF600;
        }
    }

    @media (max-width: 452px) {
        width: 72%;
        max-height: 380px;
    }

    @media (max-width: 321px) {
        min-width: 240px;
        width: 100%;
    }
}

.categoryHeadingContainer {
    display: flex;
    gap: 8px;

    h3 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 16px;
        letter-spacing: 2px;
        color: #FFF;
    }
}

.categoryIcon{
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
}