.pageWrapper {
    // background-image: url('../../../public/homepageBg.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    min-height: 100vh;
    padding-top: 48px;
    padding-right: 64px;
    background-color: #1e2832;

    @media (max-width: 452px) {
        padding-right: 16px;
        padding-top: 64px;        
    }
}

.organizationContainerTopCorners {
    padding: 32px;
    background-image: url("./../../../public/topCorner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.article {
    margin-left: 22%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 24px 32px;
    margin-bottom: 24px;

    p {
        font-size: 16px;
        margin-top: 16px;
        line-height: 2em;
    }

    h2 {
        font-weight: 500;
        font-size: 38px;
        margin-top: 24px;
        margin-bottom: 36px;
        text-align: center;
    }

    ol {
        margin-top: 16px;
    }

    li {
        font-size: 16px;
        margin-left: 12px;
    }

    @media (max-width: 452px) {
        width: 100%;
        margin-left: 0px;
    }
}