.pageWrapper {
    min-height: 100vh;
    padding-top: 48px;
    padding-right: 64px;
    background-color: #1e2832;

    @media (max-width: 769px) {
        padding-right: 16px;
        padding-top: 64px;
    }
    @media (max-width: 452px) {
        padding-right: 16px;
        padding-top: 64px;
        padding-left: 0;
    }
}

.organizationContainerTopCorners {
    padding: 32px;
    background-image: url("./../../../public/topCorner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.article {
    margin-left: 22%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 24px 32px;
    margin-bottom: 24px;

    :nth-child(5) {
        display: none;
    }




    p {
        font-size: 16px;
        margin-top: 16px;
        line-height: 1.5em;
    }

    h2 {
        font-weight: 500;
        font-size: 38px;
        margin-top: 24px;
        margin-bottom: 36px;
        text-align: center;
    }

    ol {
        margin-top: 16px;
    }

    li {
        font-size: 16px;
        margin-left: 12px;
    }

    @media (max-width: 1441px) {
        :nth-child(5) {
            display: block;
        }
    }

    @media (max-width: 769px) {
        width: 100%;
        margin-left: 0px;
    }
}

.talkBubbleContainer {
    background-image: url("../../../public/talkBubble.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // padding-right: 156px;    
    padding-left: 16px;
    // padding-bottom: 156px;
    padding-top: 56px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 960px;
    width: 100%;
    margin-top: -40px;

    p {
        font-weight: 600;
        font-size: 16px;
        color: black;
        line-height: 1.5em;
        width: 80%;
    }

    @media (max-width: 1600px) {
        // justify-content: flex-end;
        padding-bottom: 80px;
        margin-top: -196px;
        padding-top: 80px;

        p {
            width: 95%;
        }

        :nth-child(1) {
            display: none;
        }
    }

    @media (max-width: 769px) {
        padding-bottom: 0px;
        height: 1040px;
        justify-content: center;
        
    }

    @media (max-width: 456px) {
        background: none;
        padding: 0;
        justify-content: flex-start;
        margin: 0;

        p {
            width: 100%;
            color: white;
            font-weight: 400;
        }
    }
}