.nav {
    position: fixed;
    z-index: 10;
}

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 452px) {
        padding: 16px;
    }
}

.menuToggle {
    cursor: pointer;
    
}

.HeaderThemeToggleContainer {
    display: flex;
    align-items: center;
}

.navOverlay {
    position: fixed;
    background-color: #2a2a2f;
    z-index: -2;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 4em;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);

    @media (max-width: 452px) {
    }
}

.hamBox {
    position: relative;
    width: 56px;
    height: 56px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease;
    padding: 2.4em;
    background-color: #2a2a2f;

    &:hover {
        background-color: #f71cec;

        .lineTop,
        .lineBottom {
            background-color: #fff;
        }
    }

    @media (max-width: 452px) {
        transform: scale(50%);
    }
}

.hamBoxOpen {
    background-color: #2a2a2f;
}

.lineTop,
.lineBottom {
    position: absolute;
    margin: 0 auto;
    display: block;
    width: 48px;
    height: 2px;
    border-radius: 10px;
    background-color: #fff;
    left: 0;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.4s ease-in-out;
}

.lineTop {
    top: 2.2em;
}

.lineTop.spin {
    top: 2.35em;
    transform: rotate(135deg);
    background: #fff;
}

.lineBottom {
    bottom: 2.2em;
}

.lineBottom.spin {
    bottom: 2.35em;
    transform: rotate(225deg);
    background: #fff;
}

ul.navLinks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: 452px) {
        gap: 8px;
        left: 10%;
        transform: translate(0%, -80%);
    }
}

ul.navLinks li {
    list-style: none;
    position: relative;
    margin-bottom: 24px;
}

ul.navLinks li a {
    text-decoration: none;
    color: #f3f3f3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4em;
    position: relative;
    top: 0;
    font-weight: 500;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);

    &:after{
        content: "";
        position: absolute;
        border-radius: 4px;
        width: 0%;
        height: 8px;
        background-color: white;
        bottom: -4px;
        left: 0;
        transform: translateX(-100%);
        transform-origin: left;
        transition: all ease-in-out 0.5s;
    }

    &:hover {
        // color: #f71cec;

        &:after{
            width: 100%;
            background-color: #fff;
            transform: scaleX(100%);
        }
    }

    @media (max-width: 452px) {
        font-size: 24px;   
        
        &:after {
            height: 2px;
        }
    }
}

// .navItemWrapper::after{
//     content: "";
//     position: absolute;
//     top: 0px;
//     left: 0%;
//     width: 120%;
//     height: 4px;
//     background-color: #18181c;
//     margin: 0 auto;
// }

.navFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff
}