.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  height: 100vh;
  background-image: url('../public/homepageBg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


  @media (max-width: 452px) {
    padding: 16px
  }
}

.saidiaTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.saidiaText {
  width: 98%;

  @media (max-width: 1441px) {
    width: 100%
  }
}

.saidiaHeadPic {
  position: absolute;
  width: 500px;
  bottom: 0%;

  @media (max-width: 1441px) {
    width: 400px;
    bottom: 0%;
  }

  @media (max-width: 376px) {
    transform: scale(80%) translateY(48px);
  }

  @media (max-width: 321px) {
    transform: scale(60%) translateY(104px);
  }
}

.video{
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
}