.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-image: url('../public/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


  @media (max-width: 452px) {
    padding: 16px
  }
}

.saidiaTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.saidiaText {
  width: 98%;

  @media (max-width: 1441px) {
    width: 100%
  }
}

.city {
  position: absolute;
  width: 100%;
  bottom: 0%;
  opacity: 0.2;

  @media (max-width: 1441px) {
    width: 400px;
    bottom: 0%;
  }

  @media (max-width: 376px) {
    transform: scale(80%) translateY(48px);
  }

  @media (max-width: 321px) {
    transform: scale(60%) translateY(104px);
  }
}

.container{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 255, 255, 0.24);
  padding: 6rem;
  position: absolute;
  font-family: var(--raster-font);
  display: flex;
  align-items: center;
  gap: 40px;
}

.saidiaTextContainer{
  position: relative;
  font-size: 240px;
}

.saidiaText{
  color: #e41695;
}

.saidiaTextTop{
  position: absolute;
  color: #e5ff00;
  top: 0%;
  left: 2%
}

.kayaFullBody{
  width: 400px;
}

.video{
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
}