.sideNav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0b1927;
    overflow-x: hidden;
    padding-top: 160px;
    padding-left: 2em;
    padding-right: 2em;

    @media (max-width: 452px) {
        display: none        
    }
}

// .sideNav a {
//     padding: 6px 8px 6px 16px;
//     text-decoration: none;
//     font-size: 25px;
//     color: #818181;
//     display: block;
// }

.sideNav a:hover {
    font-weight: 500;
    color: #e3eaf5;
}