.pageWrapper {
    // background-image: url('../../../public/homepageBg.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    min-height: 100vh;
    padding-top: 48px;
    padding-right: 64px;

    @media (max-width: 452px) {
        padding-right: 16px;
        padding-top: 64px;
    }
}

.article {
    margin-left: 22%;
    color: black;
    // background: rgba(233, 231, 215, 0.69);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 24px 32px;
    margin-bottom: 24px;

    p {
        font-size: 16px;
        margin-top: 16px;
    }

    h2 {
        font-weight: 500;
        font-size: 28px;
        margin-top: 24px;
        margin-bottom: 8px;
    }

    ol {
        margin-top: 16px;
        background: #e9e7d788;
        padding: 24px;
    }

    li {
        font-size: 16px;
        margin-left: 12px;
        margin-bottom: 6px;
    }

    @media (max-width: 452px) {
        width: 100%;
        margin-left: 16px;
    }
}